{
  "parser": "babel-eslint",
  "extends": "airbnb",
  "env": {
    "browser": true,
    "mocha": true,
    "node": true
  },
  "rules": {
    "arrow-body-style": 0,
    "arrow-parens": 0,
    "comma-dangle": ["error", "never"],
    "consistent-return": 0,
    "func-names": 1,
    "max-len": 1,
    "new-cap": 0,
    "no-else-return": 0,
    "no-mixed-operators": 0,
    "no-return-assign": 1,
    "no-underscore-dangle": 0,
    "no-use-before-define": 0,
    "no-var": 1,
    "object-curly-spacing": 0,
    "object-shorthand": 1,
    "one-var-declaration-per-line": 1,
    "one-var": 1,
    "padded-blocks": 0,
    "prefer-arrow-callback": 0,
    "prefer-const": 1,
    "prefer-spread": 1,
    "prefer-template": 1,
    "quotes": 1,
    "react/forbid-prop-types": 0,
    "react/jsx-filename-extension": 0,
    "react/jsx-no-bind": 0,
    "react/prefer-es6-class": 1,
    "react/prefer-stateless-function": 0,
    "react/prop-types": 1,
    "react/require-default-props": 0,
    "react/sort-comp": 1,
    "react/no-multi-comp": 0,
    "react/no-unused-prop-types" : 1,
    "space-before-function-paren": 0,
    "vars-on-top": 1,
    "no-restricted-syntax": [
      "error",
      "LabeledStatement",
      "WithStatement"
    ],
  },
  "plugins": [
    "react"
  ]
}
