.title {
  font-size: 7em;
  opacity: 0.7;
  text-transform: uppercase;
  /*font-variant: small-caps;*/
  letter-spacing: .16em;
  fill: #dddddd;
  stroke: #bbbbbb;
  stroke-width: 1px;
}

.pending {
  stroke: rgba(249, 199, 22, 0.8);
}

.looping {
  stroke: #5EB1BF;
}

.focused {
  /*stroke: rgba(193, 196, 12, 0.6);*/
}
