
.scatterplot {
  cursor: crosshair;
}

.bg {
  fill: transparent;
}

.scatterplot:hover .bg {
  fill: rgba(217, 201, 3, 0.37);
}

.loopingBg {
  fill: rgba(3, 114, 217, 0.37);
}


.pendingBg {
  fill: rgba(3, 217, 25, 0.37);
}
