.title {
  font-size: 5em;
  opacity: 0.05;
  text-transform: uppercase;
  /*font-variant: small-caps;*/
  letter-spacing: .16em;
}

.pending {
  stroke: rgba(249, 199, 22, 0.8);
}

.looping {
  stroke: rgba(192, 22, 249, 1);
}

.focused {
  /*stroke: rgba(193, 196, 12, 0.6);*/
}
