.table {
  width: 100%;
}

.table td, .table th {
  margin: 0;
}

/*.table td {
  padding: 0;
}*/
.pa0 {
  padding: 0;
}

.table th {
  padding: 0 1rem;
}
.table thead th {
  padding: 2rem 0 0;
  font-size: .75em;
}

.table thead th {
  text-align: center;
}

.range {
  width: 100px;
}

.connected td, .connected th {
  /*height: 75px;*/
  /*background: rgba(116, 218, 69, 0.03);*/
  transition: background-color 0.5s ease;
}
