
.table {
  width: 100%;
}

.table td,
.table th {
  margin: 0;
}

/*.table td {
  padding: 0;
}*/
.pa0 {
  padding: 0;
}

.table th {
  padding: 0 1rem;
}
.table thead th {
  padding: .25rem;
}

.table thead th {
  text-align: center;
}

.range {
  width: 100px;
  padding-right: 2rem;
}

.connected td,
.connected th {
  height: 75px;
  background: rgba(116, 218, 69, 0.03);
  transition: background-color 0.5s ease;
}


.fixed {
  height: 75px;
}

.rangeSlider {
  background: rgba(236, 207, 121, 0.16);
  border: 1px solid white;
  display: block;
  height: 18px;
  -webkit-user-select: none;
}

.rangeHandleMin,
.rangeHandleMax {
  height: 18px;
  font-size: 9px;
  cursor: pointer;
}

/**
 * The text inside the .handle that is positioned.
 */
.rangeHandleMin {
  border-left: 1px solid black;
  /*padding-left: .25em;*/
}
.rangeHandleMax {
  border-right: 1px solid black;
  /*padding-right: .25em;  */
}
