/**
 * This is imported by Sidebar
 * and also by each of the items in it.
 */
.sidebar {
  display: flex;
  flex-direction: column;
  height: 100vh;
  margin-right: 1rem;
}

.sidebar > div {
  padding: 0.5rem;
  padding-left: 0;
}

.sidebar h6 {
  margin: 0;
  font-weight: bold;
  letter-spacing: 0.16em;
  font-variant: small-caps;
}

/**
 * These
 */
.datasetSelector {
  overflow: hidden;
}
.datasetButton {
  float: right;
  margin-bottom: 6px;
}

.loopControl {
}
.soundSelector {
  overflow: hidden;
}
.paramMapping {
}
.help {
}
