
.sidebar {
  width: 300px;
  display: flex;
  flex-direction: column;
  height: 100vh;
  /*padding-top: 2rem;*/
}

.sidebar > div {
  padding: 1rem;
  padding-left: 0;
}

.sidebar h6 {
  margin-bottom: 0;
  font-weight: bold;
  letter-spacing: .16em;
  font-variant: small-caps;
}


@media (min-height: 1000px) {
  .datasets {
    margin-top: 7rem;
  }
}

.params {
  flex: 1;
}
