
/**
 * TODO keep this locally
 */
@import url(https://fonts.googleapis.com/css?family=Open+Sans);

html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  overflow: hidden;
  -webkit-user-select: none;
  user-select: none;
}

#root {
  width: 100%;
  height: 100%;
}

.MainLayout {
  height: 100vh;
}

/* sidebar heights that can't be done with css modules */
.selectable-list {
  /* vertical scrollbar */
  overflow-y: auto;
  /* each one is maximized to it's parent - the size of title */
  height: 75%;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
  background: rgba(28, 25, 19, 0.02);
}


/* notifications */
.notification--outer {
  width: 100%;
  height: auto;
  bottom: 0;
  top: 0;
  left: 0;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 1000;
}

.notification--inner {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.inform {
  color: #bbb;
  font-size: 3em;
  text-align: center;
}

.error {
  max-width: 50rem;
  margin: auto auto;
  font-weight: bold;
  background: #e05e5e;
  padding: 4em;
  word-break: break-all;
}
