
@import url(https://fonts.googleapis.com/css?family=Open+Sans);

html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  overflow: hidden;
  -webkit-user-select: none;
  user-select: none;
}

#root {
  width: 100%;
  height: 100%;
}

.MainLayout {
  height: 100vh;
}

/* sidebar heights that can't be done with css modules */
.selectable-list {
  overflow-y: auto;
  margin-bottom: 3px;
}

.sound-selector .selectable-list {
  height: 150px;
}

/*.dataset-selector {
  height: 150px;
}*/

/*.dataset-selector .selectable-list {
  height: 73px;
}*/
