@import url(https://fonts.googleapis.com/css?family=Open+Sans);

@import "normalize.less";
@import "skeleton.less";
@line-height: 15px;

@import "dark-theme.less";

html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  font-family: 'Open Sans', sans-serif;
  background: @bg;
  color: @text;
  overflow: hidden;
}


#content {
  width: 100%;
  height: 100%;
}

#app {
  width: 100%;
  height: 100%;
}

.main {
  display: flex;
  height: 100vh;
}

#scatterplots {
  flex: 1;
  svg {
    margin: 0 15px;
  }
}

#sidebar {
  width: 300px;
  background: #111;
  display: flex;
  flex-direction: column;
  height: 100vh;

  > div {
    border: 1px solid #333333;
    padding: .5rem;
  }
  .dataset-selector {
    height: @line-height * 10;
  }
  .sound-selector {
    height: @line-height * 20;
  }
  .param-mapping {
    flex: 1;
  }
  .help {
    height: @line-height * 10;
  }
}


h1.dataset-title {
  color: @light-text;
  font-size: 5em;
  position: absolute;
  transform: rotate(90deg);
  transform-origin: left bottom 0;
}


// @import "segregation.less";
// @import "homeostat.less";
// @import "dat-gui.less";
