@import url(https://fonts.googleapis.com/css?family=Open+Sans);

@import "normalize.less";
@import "skeleton.less";
@line-height: 15px;

// @import "dark-theme.less";
// @import "light-theme.less";
// temporary light theme to match material-ui
@bg: #eeeeee;
@text: #333333;
@light-text: #666666;
@bg-alt: #ddd;

html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  // font-family: 'Open Sans', sans-serif;
  background: @bg;
  color: @text;
  overflow: hidden;
  -webkit-user-select: none;
  user-select: none;
}


#content {
  width: 100%;
  height: 100%;
}

#app {
  width: 100%;
  height: 100%;
}

.main {
  display: flex;
  height: 100vh;
  flex: 1;
}

.scatterplot {
  cursor: crosshair;
  .scatterplot__bg {
    fill: transparent;
  }
  &:hover {
    .scatterplot__bg {
      fill: rgba(217, 201, 3, 0.37);
    }
  }
}

#sidebar {
  width: 300px;
  background: @bg-alt;;
  display: flex;
  flex-direction: column;
  height: 100vh;

  > div {
    border: 1px solid #333;
    padding: .5rem;
  }
  .dataset-selector {
    height: @line-height * 10;
  }
  .sound-selector {
    height: @line-height * 20;
  }
  .param-mapping {
    flex: 1;
  }
  .help {
    height: @line-height * 10;
  }
}


.dataset-title {
  color: @light-text;
  font-size: 3em;
  // position: absolute;
  // transform: rotate(90deg);
  // transform-origin: left bottom 0;
}
